[Service]
WorkingDirectory=/var/go/src/github.com/dickeyxxx/updeps
ExecStart=/usr/local/go/bin/go run server.go
Restart=always
User=web
Group=web
EnvironmentFile=/var/go/src/github.com/dickeyxxx/updeps/.envrc

[Install]
WantedBy=multi-user.target
